*{
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 10px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  padding: 10px;
  background: #e3f4ff;
}

.content {
  padding: 10px;
  margin-bottom: 10px;
  background: #e3f4ff;
}

.button-container {
  padding: 10px;
  text-align: center;
  background: #e3f4ff;
  margin: 0 auto;
}

button {
  margin: auto;
  padding: 8px 24px;
  display: block;
  background: white;
  border: 1px solid #eee;

}